div.nav {
    overflow: hidden;
}

div.nav ul {
    list-style: none;
    padding-left: 0;
}

div.nav ul li {
    background-color: gray;
    padding: 10px;
    display: inline;
}

div.nav li:hover {
    background-color: green;
    color: black;
}

div.nav a {
    color: black;
    text-align: center;
    padding: 10px 5px;
    text-decoration: none;
}